{% extends 'base.html' %}

{% block head %}
<script src="/static/js/split.min.js"></script>
{% endblock %}

{% block body %}
<div class="row no-gutters h-100">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border-bottom">
        <a class="navbar-brand" href="/">
            <img alt="VDj" class="float-left pr-1" src="/static/imgs/vdj.png" style="width: 1.5em"/>
            Visual Django
        </a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>

            <!-- <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>

    <div class="col" id="navigator_column">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active bg-light" role="tab">Project Navigator</a>
            </li>
        </ul>
        <div class="card border-0">
            <div class="card-block px-2">
                <div class="p-2 border-left" id="project_tree">
                    <p>
                        The fundamental unit of a Django web application is a <a
                            href="https://djangobook.com/mdj2-django-structure/" target=_blank>Django project</a>. A
                        Django project is made up one or more Django applications. For example a blog, a users contacts
                        app or an event calendar.
                    </p>
                    <p>
                        <img alt="Django Project structure" class="img-fluid" src="/static/imgs/project_structure.png"/>
                    </p>

                </div>
            </div>
        </div>

    </div>

    <div class="col" id="center_column">
        <!-- Editor Area -->
        <ul class="nav nav-tabs" id="center_column_tabs" role="tablist">
            <li class="nav-item">
                <a aria-controls="welcome-editor" aria-selected="true" class="nav-link active" data-toggle="tab" href="#welcome-editor"
                   id="welcome-tab" role="tab">{% block body_inner_title %}Welcome{% endblock %}</a>
            </li>
        </ul>
        <div class="tab-content code-editor border-left" id="center_column_tabs_content">
            <div aria-labelledby="welcome-tab" class="tab-pane fade show active" id="welcome-editor" role="tabpanel">
                <div class="row p-3">


                    <div aria-orientation="vertical" class="nav flex-column nav-pills col col-md-4" id="v-pills-tab"
                         role="tablist">
                        <a aria-controls="v-pills-home" aria-selected="true" class="nav-link {% if projects %}active{% endif %}"
                           data-toggle="pill" href="#v-pills-home" id="v-pills-home-tab" role="tab">
                            Open existing project</a>
                        <a aria-controls="v-pills-new" aria-selected="false"
                           class="nav-link {% if not projects %}active{% endif %}" data-toggle="pill" href="#v-pills-new" id="v-pills-new-tab"
                           role="tab">
                            Create new project</a>
                    </div>

                    <div class="tab-content col col-md-8" id="v-pills-tabContent">
                        <div aria-labelledby="v-pills-home-tab" class="tab-pane fade {% if projects %}show active{% endif %}"
                             id="v-pills-home" role="tabpanel">
                            {% for item in projects %}
                            <div class="card flex-row flex-wrap mb-3">
                                <div class="card-header border-0">
                                    <img alt="VDj" src="/static/imgs/vdj.png" style="width: 2em"/>
                                </div>
                                <div class="card-block p-2">
                                    <a class="btn btn-light" href="/ide/open_project/{{item}}/">Open "{{item}}"</a>
                                </div>
                            </div>
                            {% empty %}
                            <p>No projects</p>
                            {% endfor %}
                        </div>

                        <div aria-labelledby="v-pills-new-tab" class="tab-pane fade {% if not projects %}show active{% endif %}"
                             id="v-pills-new" role="tabpanel">

                            {% for item in templates %}
                            <div class="card flex-row flex-wrap mb-3">
                                <div class="card-header border-0">
                                    <img alt="VDj" src="/static/imgs/vdj.png" style="width: 2em"/>
                                </div>
                                <div class="card-block p-2">
                                    <h4 class="card-title">{{item.1}}</h4>
                                    <p class="card-text">{{item.2|safe}}</p>
                                    <a class="btn btn-light" href="/ide/create_project/?template={{item.0}}">Create</a>
                                </div>
                            </div>
                            {% empty %}
                            <p>No templates</p>
                            {% endfor %}

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col" id="properties_column">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active bg-light" role="tab">Help</a>
            </li>
        </ul>
        <div class="p-2 border-left">
            <p>
                <a href="https://www.djangoproject.com" target=_blank>Django</a> is a Python-based free and open-source
                web framework, which follows the model-template-view (MTV) architectural pattern.
            </p>

            <p>
                <img alt="MVT Pattern" class="img-fluid" src="/static/imgs/mvt_pattern.png"/>
            </p>
            <p>
                A model is the single, definitive source of information about your data. It contains the essential
                fields and behaviors of the data you’re storing. Generally, each model maps to a single database table.
            </p>
            <p>
                A view is simply a Python function that takes a Web request and returns a Web response. This response
                can be the HTML contents of a Web page, or a redirect, or a 404 error, or an image.
            </p>
            <p>
                <a href="https://docs.djangoproject.com" target=_blank>Read more...</a>
            </p>
        </div>

    </div>
</div>

<script>
    /* JS Goes Here */
    var splitobj = Split(["#navigator_column", "#center_column", "#properties_column"], {
        elementStyle: function (dimension, size, gutterSize) {
            $(window).trigger('resize'); // Optional
            return {'flex-basis': 'calc(' + size + '% - ' + gutterSize + 'px)'}
        },
        gutterStyle: function (dimension, gutterSize) {
            return {'flex-basis': gutterSize + 'px'}
        },
        sizes: [20, 60, 20],
        minSize: 50,
        gutterSize: 6,
        cursor: 'col-resize'
    });

    $(function () {
        if (location.hash == "#v-pills-new")
            $('#v-pills-tab a[href="#v-pills-new"]').tab('show');
    })
</script>
{% endblock %}
